* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 5px;
  background-color: #17B169;
}

#wrapper{
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: #FFF;
  border-radius: 20px;
  border: 7px solid #018749;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 170px;
}


#snake-game{
  border: 2px solid #000;
  margin-left: 10px;
}